body {
    margin: 0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
}

#title{
    margin: 20px 0 15px 10px;
    font-weight: 800;
    color: #B194A1;
    font-size: 40px;
}

#subtitle{
    margin: 0 0 30px 10px;
    color:#869d7a;
}

a{
    text-decoration: underline;
    color: #B194A1;
    cursor: pointer;
    font-weight: 700;
}

.italics{
    font-style: italic;
    font-weight: 500;
}

#container{
    border-radius: 30px 30px 0 0;
    border: 2px solid lightgray;
    border-bottom: none;
    padding: 0 10px;
    /* box-shadow: 1px 1px 8px lightgray; */
}

.add-new-tab-btn,
#clear-all-btn {
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

#clear-all-btn{
    padding: 10px 20px;
    margin: 20px auto 10px auto;
    display: block;
    background-color: #be8768;
    color: white;
    border: 2px solid #be8768;
}

.add-new-tab-btn{
    background-color: white;
    color: #869d7a;
    border: 2px dotted #869d7a;
    margin-left: 10px;
    padding: 7px 10px;
}

.add-new-tab-btn:hover{
    background-color: #869d7a;
    color: white;
    border: 2px solid #869d7aa0;
    box-shadow: 2px 2px 8px lightgray;
}

#clear-all-btn:hover {
    background-color: white;
    color: #be8768;
    border: 2px solid #be8768;
}

ul {
    margin-top: 20px;
    list-style: none;
    /* list-style-image: url('./1200px-Ei-paperclip.svg.png') ; */
    padding-left: 0;
}

li {
    margin-top: 5px;
    /* margin-left: 20px; */
    list-style-type: none;
}


li a {
    margin-top: 12px;
    color: #869d7a;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    align-self: center;
    border-bottom: 2px dotted #869d7a;
}

li a:hover{
    color: #38423B;
}

ol{
    list-style: upper-roman;
    padding:5px 0 5px 30px;
    font-size: 13px;
}

ol li p {
    margin: 8px;
}

.new-note-cont,
.new-tab-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-radius: 5px;
    background-color: white;
    position: relative;
    padding: 5px;
    gap: 5px;
    color: lightgray;
    
}
.new-note-cont{
    border: 1px solid lightgray;
    font-size: 13px;
    height: 24px;
    margin: 20px 0 20px 20px;
}

.new-tab-cont{
    font-size: 15px;
    border: 2px solid lightgray;
    height: 30px;
    margin: 20px 0 0 10px;
}

.new-note-cont:hover{
    border: 1px solid #869d7aa0;
    color: gray;
}

.new-tab-cont:hover{
    border: 2px solid #869d7aa0;
    color: gray;
}

.new-note-cont input,
.new-tab-cont input{
    border: none;
    align-self: center;
    background-color: inherit;
    width: 85%;
    margin: 0;
    padding: 3px 8px;
}

.new-note-cont input::placeholder,
.new-tab-cont input::placeholder{
    color: lightgray;
}
.new-tab-cont input{
    padding: 8px 8px;
}

input:focus, textarea:focus{
    outline: none;
}

.new-note-cont button,
.new-tab-cont button{
    padding: 4px 6px 4px 6px;
    align-self: flex-start;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 5;
    right: 1;
    bottom: 5;
    margin-right: 5px;
    background-color: rgb(247, 247, 247);
    color: gray;
}

.new-tab-cont button:hover{
    background-color: #657c59;
    color: white;
    /* border: 2px solid #869d7aa0; */
}


.new-note-cont button:hover{
    background-color: #886c78;
    color: white;
}

.notes{
    margin: 10px 10px 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
}

.notes p{
    background-color: #B194A1;
    color: white;
    box-shadow: 1px 1px 8px lightgray;
    border: 1px solid #DDBEA9a0;

}

.new-note-btn:hover{
    background-color: #B194A1a0;
    color: white;
}

.new-note-btn{
    color: #B194A1;
    background-color: white;
    border: 1px solid #DDBEA9a0;
}

.new-note-btn,
.notes p{
    padding: 8px;
    margin: 3px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}

.new-note-label,
.new-tab-label{
    position: absolute;
    top: -8px;
    left: 10px;
    z-index: 1000;
    background-color: white;
    padding: 0 5px;
}

.link-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin: 10px 10px 10px 0;
    /* width: 100%; */
    padding-left: 10px;
}

.link-header button{
    padding: 4px 6px 4px 6px;
    align-self: center;
    border-radius: 3px;
    background-color: rgb(247, 247, 247);
    color: gray;
    border: none;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    margin-top: 10px;
    font-weight: 400;
}

.link-header button:hover{
    background-color: #CB997E;
    color: white;
}
.lrg{
    font-size: 18px;
    font-weight: 600;
}