body {
    margin: 0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
    max-width: 400px;
    max-height: 500px;
    position: relative;
    user-select: none;
    box-sizing: border-box;
    background-color: var(--bg-color);
    overflow-y: scroll;
}

#palette-btn,
#help-btn{
    position: fixed;
    right: 15px;
    color: var(--quaternary-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 1000;
}

#help-btn{
    top: 10px;
}

#palette-btn{
    top: 35px;
}

#help-btn:hover,
#palette-btn:hover{
    color: var(--secondary-color);
}

#project-tabs{
    display:flex;
    flex-direction: row;

}

.project-tab > span:focus{
    outline: none;
    /* outline: solid #977680 2px; */
    /* border-radius: 5px; */
    outline-offset: 2px;
    background-color: var(--focused-text-color);
    min-height: 1em;
}

.project-tab > span::selection{
    background-color: var(--selected-text-color);
    color: var(--bg-color);    
}

#help-modal{
    display: none;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 85%;
    width: 85%;
    border-radius: 20px;
    background-color: var(--modal-bg-color);
    z-index: 1000;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border: 3px solid var(--tertiary-color);
    outline: 3px solid var(--quaternary-color);
    overflow-y: scroll;
}

#help-title{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0px var(--tertiary-color);
    color: var(--primary-color);

    margin-top: 10px;
    font-size: 26px;
}

.help-text{
    font-size: 0.9rem;
    font-family: 'Work Sans', sans-serif;
    margin: 12px 0 10px 0;
    color: var(--secondary-color);
}
.help-text:not(:last-of-type){
    margin-bottom: 15px;
}

.help-head{
    width: auto;
    font-size: 1.15rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 10px 0;
    border-bottom: dotted 2px var(--tertiary-color);
    color: var(--help-header-color);
}
#title{
    margin: 20px 0 15px 10px;
    font-weight: 900;
    color: var(--primary-color);
    font-size: 40px;
    text-shadow: 2px 1px 0px var(--tertiary-color);
}

#subtitle{
    margin: 0 0 20px 10px;
    color:var(--secondary-color);
    /* AB5F77 */
    font-size: 0.9rem;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: underline;
    color: var(--tertiary-color);
    cursor: pointer;
    font-weight: 700;
}

.italics{
    font-style: italic;
    font-weight: 500;
}

#container{
    border-radius: 0 30px 0 0;
    border: 2px solid var(--gray-tone);
    border-bottom: none;
    padding: 0 10px 20px 10px;
    position: relative;
    /* background-image: linear-gradient(to bottom right, #f28188, #fac3c1); */
    /* box-shadow: 1px 1px 8px lightgray; */
}

.clicked:after{
    content:"";
    display: block;
    position: relative;
    /* top: 0; bottom: 0; left: 0; right: 0; */
    left: -10px;
    bottom: -12px;
    width: 122%;
    height: 5px;
    display: block;
    background-color: var(--bg-color);
}
#clear-all-btn {
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

#clear-all-btn{
    padding: 10px 20px;
    margin: 20px auto 10px auto;
    display: block;
    background-color: var(--red-tone);
    color: white;
    border: 2px solid var(--red-tone);
}

#clear-all-btn:hover {
    background-color: var(--bg-color);
    color: var(--red-tone);
    border: 2px solid var(--red-tone);
}

ul {
    margin: 10px 0 -10px 0;
    list-style: none;
    /* list-style-image: url('./1200px-Ei-paperclip.svg.png') ; */
    padding-left: 0;
}

li {
    margin-top: 5px;
    /* margin-left: 20px; */
    list-style-type: none;
    /* border-bottom: #246A73; */
}

.help-img{
    width: 100%;
    border: 1px dotted var(--secondary-color);
}

li a {
    margin-top: 12px;
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    align-self: center;
    border-bottom: 2px dotted var(--tertiary-color);
    max-width: 85%;    
}

li:not(:last-of-type) {
    border-bottom: 1px dashed var(--secondary-color-diluted);
  }

li a:hover{
    color: var(--link-hover-color);
}

.new-note-cont,
.new-tab-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-radius: 5px;
    background-color: var(--bg-color);
    position: relative;
    padding: 5px;
    gap: 5px;
    color: var(--gray-tone);
    
}
.new-note-cont{
    border: 1px solid var(--gray-tone);
    font-size: 13px;
    height: 24px;
    margin: 20px 0 20px 20px;
}

.new-tab-cont{
    font-size: 15px;
    border: 2px solid var(--gray-tone);
    height: 30px;
    margin: 30px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-note-cont:hover{
    border: 1px solid var(--note-cont-hover-color);
    color: gray;
}

.new-tab-cont:hover{
    border: 2px solid var(--tab-cont-hover-color);
    color: gray;
}

.new-note-cont input,
.new-tab-cont input{
    color: var(--input-text-color);
    border: none;
    align-self: center;
    background-color: inherit;
    width: 80%;
    margin: 0;
    padding: 3px 8px;
    font-family: 'Work Sans', sans-serif;
}

.new-note-cont input::placeholder,
.new-tab-cont input::placeholder{
    color: var(--gray-tone);
    font-family: 'Work Sans', sans-serif;
}
.new-tab-cont input{
    padding: 8px 8px;
}

input:focus, textarea:focus{
    outline: none;
}

.new-note-cont button{
    width: 15%;
}

.new-tab-cont button{
    width: 25%;
}

.new-note-cont button,
.new-tab-cont button{
    padding: 4px 6px 4px 6px;
    border-radius: 3px;
    border: none;
    height: 100%;
    background-color: var(--small-btn-color);
    color: gray;
    cursor: pointer;
}

.new-tab-cont button:hover{
    background-color: var(--tab-btn-hover-color);
    color: var(--bg-color);
    /* border: 2px solid #869d7aa0; */
}


.new-note-cont button:hover{
    background-color: var(--note-btn-hover-color);
    color: var(--bg-color);
}

.notes{
    margin: 8px 10px 8px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
}

.notes p{
    background-color: var(--secondary-color);
    color: var(--note-text-color);
    box-shadow: 1px 1px 8px var(--gray-tone);
    /* font-style: italic; */
    font-family: 'Work Sans', sans-serif;
}

.new-note-btn:hover{
    background-color: var(--secondary-color-diluted);
    color: var(--note-text-color);
}

.new-note-btn{
    color: var(--note-cont-hover-color);
    background-color: var(--bg-color);
}

.new-note-btn,
.notes p{
    border: 1px solid var(--secondary-color-diluted);
    padding: 6px;
    margin: 3px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 0.3px;
}

.new-note-label,
.new-tab-label{
    position: absolute;
    top: -8px;
    left: 10px;
    z-index: 1000;
    background-color: var(--bg-color);
    padding: 0 5px;
}

.link-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    /* margin: 10px 10px 10px 0; */
    /* width: 100%; */
    margin-left: -10px;
    padding-left: 10px;
}

.link-header button,
#add-project-btn{
    align-self: center;
    border-radius: 3px;
    background-color: var(--small-btn-color);
    color: gray;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.link-header button{
    margin-top: 10px;
    padding: 4px 6px 4px 6px;
    font-size: 10px;
    font-weight: 400;
}


.link-header button:hover{
    background-color: var(--red-tone);
    color: var(--bg-color);
}
.lrg{
    font-size: 18px;
    font-weight: 600;
}

.project-tab{
    padding: 7px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid var(--tertiary-color-diluted);
    border-bottom: none;
    font-size: 14px;
    background-color: var(--tab-color);
    width: 30%;
    color: var(--bg-color);
    margin-right: 2px;
    /* min-height: 1em; */
    height: auto;
    cursor: pointer;
}

.clicked{
    background-color: var(--bg-color);
    /* background-image: linear-gradient(180deg, var(--bg-color), var(--bg-color), var(--bg-color), rgb(189, 189, 189)); */
    /* border-bottom: 5px solid var(--primary-color); */
    color: var(--tab-color);
    z-index: 1000;
    box-sizing: border-box;
}



#add-project-btn{
    margin: 0 0 0 3px;
    padding: 4px 7px 4px 7px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#add-project-btn:hover{
    background-color: var(--tab-color);
    color: white;
}